// ================================================================================================
//     File Name: leaflet.scss
//     Description: Leaflet map custom scss
//     ----------------------------------------------------------------------------------------------
//     LeaderBoardItem Name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
//     Author: PIXINVENT
//     Author URL: http://www.themeforest.net/user/pixinvent
// ================================================================================================

.leaflet-map {
  height: 400px;
  z-index: 1;
}

html[data-textdirection='rtl'] {
  .leaflet-map {
    .leaflet-control-container {
      .leaflet-left {
        left: 0;
        right: unset;
        .leaflet-control-zoom,
        .leaflet-control-layers {
          margin-right: 0;
          margin-left: 10px;
        }
      }
      .leaflet-right {
        right: 0;
        left: unset;
        .leaflet-control-zoom,
        .leaflet-control-layers {
          margin-right: 10px;
          margin-left: 0px;
        }
      }
    }
  }
}
