.button{
  align-items: center;
  background-color: rgb(240, 233, 231);
  border: 0;
  border-radius: 12px;
  box-shadow: rgb(226 214 207) 6px 6px 12px, rgb(247 244 242) -12px -12px 24px -2px;
  cursor: pointer;
  display: flex;
  font-weight: 700;
  justify-content: center;
  outline: none;
  width: 100%;
  &:hover {
    background-color: rgb(247, 244, 242);
  }
}