@import "@core/scss/core.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans",sans-serif;
  background-color: #f2ede0 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-normal-1{
  font-size: var(--fs-2);
}

.text-normal-2{
  font-size: var(--fs-3);
}

.text-large-1{
  font-size: var(--fs-4);
}

.text-large-2{
  font-size: var(--fs-5);
}

.btn{
  font-size: 18px;
}

.fixSidebar{
  position: sticky;
  top: 50px;
}

.hover-primary{
  &:hover{
    color: var(--color-primary);
  }
}