.banner{
  width: 100%;
  height: calc(100vh - 72px);
  background-image: url("/images/banner.png");
  background-repeat: no-repeat;
  background-position: center;
}

.containerClaim{
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}