.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  min-height: 72px;
  padding: 1rem 0
}

.content {
  flex: 1;
}

.menuItem {
  font-size: 16px;
  color: rgb(170, 149, 133);
  font-weight: 700;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    color: rgb(128, 94, 73);
  }

  &.active {
    color: #d16c00;
  }
}

.menuActive {
  font-weight: bold;
  color: white;
}

.copyright {
  margin-top: 20px;
  font-size: 16px;
}

.footer {
  min-height: 250px;
  padding: 1rem;
}

.footerLink {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  flex-wrap: wrap;

  @media screen and (max-width: 575px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  p {
    font-weight: 700;
    font-size: 16px;
  }

  a {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.logo{
  cursor: pointer;
}

.logoText{
  color: rgb(91, 57, 38);
  font-family: 'Kaushan Script', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.03em;
  margin-left: 8px;
  @media (max-width: 400px) {
    display: none;
  }
}