.containerPools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.logoContainer {
  position: relative;
}

.tag {
  position: absolute;
  top: 27px;
  left: 24px;
}

.tagCompleted {
  width: fit-content;
}

.chartContainer {
  height: 65px;
}

.chartInfoContainer {
  height: 175px;
}

.btnInvest {
  min-width: 300px;
}

.shareWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.line {
  width: 1px;
  min-height: 100%;
  background-color: #C4C4C4;
  margin: 0 50px;
}

.metricsWrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.sidebarWrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}